body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

canvas {
       display: block;
   }



.paused { /* Додано клас для паузи анімації */
  animation-play-state: paused;
}

/* Додано клас для розмиття */
.blurred {
  filter: blur(5px); /* Налаштуйте ступінь розмиття за потребою */
}

#gameOverScreen {
    position: fixed; /* Фіксуємо позицію екрана */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центруємо екран */
    width: 100%;
    max-width: 400px; /* Обмежуємо максимальну ширину */
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    z-index: 10; 
}

#restartButton {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
